/*
====================
Fonts
====================
*/
@font-face {
  font-family: "Mooli";
  src: url("../fonts/Mooli/Mooli-Regular.woff")
      format("woff"),
    url("../fonts/Mooli/Mooli-Regular.woff2")
      format("woff2"),
    url("../fonts/Mooli/Mooli-Regular.ttf")
      format("truetype");
}

/*
====================
Variables
====================
*/
:root {
    --ff-primary: "Mooli", sans-serif;
}

/*
====================
Defaults
====================
*/
body {
  caret-color: transparent;
  font-family: var(--ff-primary);
  background-color: rgba(212, 215, 223, 0.782);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

main {
  height: fit-content;
  width: 90%;
  -webkit-border-radius: 125px;
  border-radius: 20px;
  background-color: rgba(212, 215, 223, 0.782);
  -webkit-box-shadow: 12px 12px 24px #9499a8, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #7a7c83, -12px -12px 24px #ffffff;
  padding: 10px 5px;
}

.custom-border {
    border: 1px solid #343a40; /* Dark border color */
    padding: 0.25rem; /* Adjust padding if needed */
}

#maze-canvas {
  border: 1px solid black;
  -webkit-border-radius: 125px;
  border-radius: 20px;
}

#logo {
  width: 100px;
  height: 75px;
}

#banner {
  width: 40px;
  height: 40px;
}

/*
=================
    Spinner
=================
*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(255, 255, 255, 0.4);
}

.loader {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 1s linear infinite;
    -webkit-animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 7px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 7px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 7px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 7px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 7px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 7px solid #f44336;
        border-left-color: transparent;
    }
}

/*
=================
    Buttons
=================
*/
#generate-maze, #run {
  background-color: var(--bs-indigo);
  color: #fff;
}

#solve-maze, #open {
  background-color: var(--bs-orange);
  color: #fff;
}

#clear, #path {
  background-color: var(--bs-teal);
  color: #fff;
}

#points, #download {
  background-color: var(--bs-warning);
  color: #333333;
}

#btn-help {
  background-color: var(--bs-cyan);
  color: #333333;
}

/* 
=============================================================================
This CSS code, authored by [Amirhossein Maleki], is provided under the Apache License, Version 2.0.
For more information, please refer to http://www.apache.org/licenses/LICENSE-2.0
=============================================================================
*/
