/*
====================
Fonts
====================
*/
@font-face {
  font-family: "Mooli";
  src: url("../fonts/Mooli/Mooli-Regular.woff")
      format("woff"),
    url("../fonts/Mooli/Mooli-Regular.woff2")
      format("woff2"),
    url("../fonts/Mooli/Mooli-Regular.ttf")
      format("truetype");
}

/*
====================
Variables
====================
*/
:root {
    --ff-primary: "Mooli", sans-serif;
}

/*
====================
Defaults
====================
*/
body {
  caret-color: transparent;
  font-family: var(--ff-primary);
  background-color: rgba(212, 215, 223, 0.782);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

main {
  height: fit-content;
  width: 90%;
  -webkit-border-radius: 125px;
  border-radius: 20px;
  background-color: rgba(212, 215, 223, 0.782);
  -webkit-box-shadow: 12px 12px 24px #9499a8, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #7a7c83, -12px -12px 24px #ffffff;
  padding: 10px 5px;
}

#maze-canvas {
  border: 1px solid black;
  -webkit-border-radius: 125px;
  border-radius: 20px;
}

#logo {
  width: 100px;
  height: 75px;
}

#banner {
  width: 40px;
  height: 40px;
}